html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Montserrat', sans-serif;
  }

h1 {
    font-size: 30px;
    text-align: center;
  }
  
p, li {
    font-size: 10px;
    line-height: 2;
    letter-spacing: 0.5px;
  }

  html {
    background-color: #4279b1;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }
  img {
    width: 300px;
    display: block;
    margin: 0 0;
  }